@import "tailwindcss";

:root {
  --primary: #6d28d9;
  --primary-light: #8b5cf6;
  --primary-dark: #4c1d95;
  --accent: #ec4899;
  --dark-green: #22c55e;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --color-dark-green: var(--dark-green);

  --animate-shimmer: shimmer 1.8s infinite linear;

  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-15deg);
    }

    100% {
      transform: translateX(150%) skewX(-15deg);
    }
  }
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-800 bg-gray-50 transition-colors duration-500;
  }
}