@import "tailwindcss";

@theme {
  --color-primary: #806b9b;
  --color-primary-light: #a694bf;
  --color-primary-dark: #5a4b6e;
  --color-accent: #e5b3c4;
  --color-dark-green: #2c4c3b;

  --animate-shimmer: shimmer 2.5s infinite linear;

  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-15deg);
    }

    100% {
      transform: translateX(150%) skewX(-15deg);
    }
  }
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-800 bg-gray-50;
  }
}